# Maven build files
superx_project/target/

# Java compiled files
*.class

# Log files
*.log
hs_err_pid*.log

# Firebase credentials
superx_project/src/main/resources/onespace_firebase_credentials.json